<h2 class="blind">Global navigation</h2>
<a href="#" class="btn_gnb_open"><span class="sp_ico">Global navigation open</span></a>
<!-- [D] btn_gnb_open클릭시 .gnb_wrap에 addClass open 붙여주세요. -->
<div class="gnb_wrap">
    <div class="gnb_wrap_inner">
        <!-- [D] 로그인시 gnb_top_util에 addClass login해주세요.  -->
        <div class="gnb_top_util login">
            <p class="txt_gnb_welcome">Welcome <span class="basic">to<em class="nam_basic">JTBC Worldwide</em></span><em class="nam_custom">Gildong Hong</em></p>
            <a href="#" class="util_btn_myinfo">My Info</a>
        </div>
        <ul>
            <!-- [D] 활성화시 li에 addClass "on" 을 붙여주세요 -->
            <li class="menu1"><a href="#"><span class="sp_ico pc"></span><span class="mo">SCRIPTED</span></a></li>
            <li class="menu2"><a href="#"><span class="sp_ico pc"></span><span class="mo">NON-SCRIPTED</span></a></li>
            <li class="menu3"><a href="#"><span class="sp_ico pc"></span><span class="mo">FORMAT</span></a></li>
            <li class="menu4"><a href="#"><span class="sp_ico pc"></span><span class="mo">SPORTS/AWARDS</span></a></li>
            <li class="menu5"><a href="#"><span class="sp_ico pc"></span><span class="mo">DIGITAL ORIGINAL</span></a></li>
            <li class="menu6"><a href="#"><span class="sp_ico">CONTACT</span></a></li>
            <li class="menu7"><a href="#"><span class="sp_ico">ABOUT JTBC</span></a></li>
        </ul>
    </div>
    <a href="#" class="btn_gnb_close"><span class="sp_ico ico_gnb_close">Global navigation close</span></a>
</div><!-- .gnb_wrap -->
